<section class="content-inner">


  <div class="chart-body">
    <app-highcharts-custom-component [data]="data" [type]="'line'"></app-highcharts-custom-component>
  </div>


  <div class="chart-body">
    <app-highcharts-custom-component [data]="data" [type]="'bar'"></app-highcharts-custom-component>
  </div>


  <div class="chart-body">
    <app-highcharts-custom-component [data]="data" [type]="'pie'"></app-highcharts-custom-component>
  </div>

  <div class="chart-body">
    <app-highcharts-custom-component [data]="data" [type]="'area'"></app-highcharts-custom-component>
  </div>

  <div class="chart-body">
    <app-highcharts-custom-component [data]="data" [type]="'column'"></app-highcharts-custom-component>
  </div>


</section>