
// ---------------------------------------------------------
// @Default Colors
// ---------------------------------------------------------

$default-danger       : #ff3c7e;
$default-dark         : #313435;
$default-grey         : #565a5c;
$default-info         : #0f9aee;
$default-primary      : #64aad6;
$default-success      : #37c936;
$default-text-color   : #221f1f;
$secondary-text-color   : #b7b5b6;
$mutted-text-color   : #f2f3f5;
$default-warning      : #fc0;
$default-white        : #fff;
$default-muted       : #f2f3f5;
$lighter              : #d5d8df;


// ---------------------------------------------------------
// @Others
// ---------------------------------------------------------

$border-color         : #f2f3f5;
$nav-height           : 60px