// ---------------------------------------------------------
// @Z-INDEX to components
// ---------------------------------------------------------

$z-index: (
  modal-overlay      : 300,
  modal-container    : 301,
  navigation         : 100,
  sidebar            : 200,
  sidebar-overlay    : 199,
  right-menu         : 201,
  navigation-rainbow : 50,
  share-type         : 41,
  share              : 40,
);
